PORT = your port number
MONGO_URI= your MongoDB connection string
JWT_SECREATE_KEY= your JWT secret key
CLOUDINARY_CLOUD_NAME= your Cloudinary cloud name
CLOUDINARY_API_KEY= your Cloudinary API key
CLOUDINARY_API_SECRET= your Cloudinary API secret